#jmilogo {
    height: 150px;
    width: 150px;
    border-style: solid;
    border-radius: 50%;
    border-color: #14213d;
    border-width: 5px;
    position: fixed;
    top: 2px;
    left: 2px;
}
#header1 {
    position: fixed;
    width: 100%;
}

body {
    background-image: url("pictures/jmi.jpg");
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    margin: 0px;
    background-position: static;
    
}
#main1 {
    background-color: rgba(252,163,17,0.6);
}
#jamia {
    width: 100%;
    font-weight: bold;
    font-size: 50px;
    margin-left: 0px;
    padding: 10px;
    font-family: arvobold, Arial, Helvetica, sans-serif;
    background-color: #890620;

}
#bsc{
    padding-top: 100px;
    width: 100%;
    font-size: 50px;
    margin-left: 0px;
    padding: 10px;
    font-family: arvobold, Arial, Helvetica, sans-serif;
    background-color: #14213d;
}
#jamia a {
    color: white;
}
a {
  text-decoration: none;
  color: blue;  
}
p {
    line-height: 1;
    letter-spacing: 4px;
}
nav a:hover {
    text-decoration: underline;
    color: red;
}
#jamia:hover {
    background-color: #14213d;
}
#jamialink{
    color: black;
    text-decoration: none;
}
nav a:active {
    background-color: yellow;
}
::selection{
    background-color: #14213D;
}
h1,h2,p {
    margin: 0px;
    padding: 50px;
}
#construction{
    font-size: 40px;
    font-weight: 700;
}