#jmilogo {
    height: 100px;
    width: 100px;
    background-color: rgb(0, 0, 0);
    border-style: solid;
    border-radius: 100px;
}
body {
    background-image: url("pictures/jmi.jpeg");
    text-align: center;
    
}
#main1 {
    background-color: white;
    opacity: 0.8;
}
